@import "tailwindcss";

/* Noise background */
.bg-noise {
  position: relative;
}

.bg-noise::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC3iXB74T01aWDP0AlgYmEn6Npcxi5NulCLubmWeJX0zihwV0cywGmMYKjhxNwHQ2RMDcl6XSdECkdMLyGCdCVhGgBZOahfDR4IWQ_V3C9zFbIdpUAJUbMc7gPTtbFqmjecEaL8RflTQOW0HKwDXh9A3Jqv4msQx8m99GxfdhlpjsaEJAGdJcalM5U_Ql8MnC8XUYHN8VBma4XT6Gd4ejgGwH9YhavdrNpE5t0RAIefEzl2Y3qeGUt45gHlzDvFqd2_y-oi_8TvZ0Y");
  opacity: 0.03;
  pointer-events: none;
  z-index: 0;
}

.content-layer {
  position: relative;
  z-index: 1;
}

/* Floating animation */
@keyframes floatRotate {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  50% {
    transform: rotate(5deg) translateY(-20px);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}

.animate-float {
  animation: floatRotate 12s ease-in-out infinite;
}
